<div class="login">
  <div class="authBlock">
    <h2>Sign In</h2>
    <div>
      <mat-form-field>
        <input matInput type="text" placeholder="Username" #userName required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" #userPassword required>
      </mat-form-field>
    </div>

    <!-- Calling SignIn Api from AuthService -->
    <div>
      <button [class.mat-button-disabled]="!(userName.value && userPassword.value)" mat-raised-button
        (click)="authService.signIn(userName.value, userPassword.value)">Log in</button>
    </div>

    <!-- Calling GoogleAuth Api from AuthService
    <div>
      <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
        <i class="fab fa-google-plus-g"></i>
        Log in with Google
      </button>
    </div> -->
  </div>
  <div class="forgotPassword">
    <a routerLink="/forgot-password">Forgot Password?</a>
  </div>
  <div class="redirectToLogin">
    <span>Don't have an account? <a class="redirect" routerLink="/register-user">Sign Up</a></span>
  </div>
</div>