<div class="score-import">
  <div>
    <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
    <input id="file-input" hidden (change)="fileChanged($event)" #fileInput type="file">
    <label class="file-label" for="file-input">{{ file ? file.name : "Select a file..."}}</label>
  </div>
  <div>
    <button class="submit-button" [class.mat-button-disabled]="submitDisabled" mat-raised-button (click)="submit()">Submit</button>
  </div>
</div>