<mat-toolbar class="toolbar" color="primary">
  <mat-icon class="home" [routerLink]="['']">home</mat-icon>
  <span>Rocksmith Leaderboards</span>
  <span class="spacer"></span>
  <button mat-button (click)="openSignIn()" cdkOverlayOrigin #trigger="cdkOverlayOrigin">Log in</button>
</mat-toolbar>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="signInOpen"
>
<app-sign-in></app-sign-in>
</ng-template>