<header>
    <h1>{{ song }}</h1>
    <h2>{{ artist }}</h2>
    <p>Path: {{ path }}</p>
    <p>Difficulty: {{ difficulty }}</p>
</header>

<!-- Leaderboards -->
<table mat-table [dataSource]="entries">

    <!-- Rank Column -->
    <ng-container matColumnDef="rank">
        <th mat-header-cell *matHeaderCellDef>Rank</th>
        <td mat-cell *matCellDef="let entry">{{ entry.rank }}</td>
    </ng-container>

    <!-- User Column -->
    <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef>User</th>
        <td mat-cell *matCellDef="let entry">{{ entry.user }}</td>
    </ng-container>

    <!-- Score Column -->
    <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef>Score</th>
        <td mat-cell *matCellDef="let entry">{{ entry.score }}</td>
    </ng-container>

    <!-- Header -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <!-- Rows -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- No data message -->
    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayedColumns.length">No rankings yet.</td>
    </tr>
</table>
