<!-- Search -->
<mat-form-field>
  <input matInput #input (keyup.enter)="search(input.value)" placeholder="Search by Artist, Title, or Album...">
</mat-form-field>

<!-- Table of search results -->
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Link to leaderboards -->
    <ng-container matColumnDef="link">
      <th mat-header-cell *matHeaderCellDef>Link</th>
      <td mat-cell *matCellDef="let songData">
        <a [routerLink]="['/leaderboards', songData.id]">
          <mat-icon>leaderboard</mat-icon>
        </a>
      </td>
    </ng-container>

    <!-- Artist column -->
    <ng-container matColumnDef="artist">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by artist">Artist</th>
      <td mat-cell *matCellDef="let songData">{{ songData.artist }}</td>
    </ng-container>

    <!-- Title column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by title">Title</th>
      <td mat-cell *matCellDef="let songData">{{ songData.title }}</td>
    </ng-container>

    <!-- Album column -->
    <ng-container matColumnDef="album">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by album">Album</th>
      <td mat-cell *matCellDef="let songData">{{ songData.album }}</td>
    </ng-container>

    <!-- Header -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <!-- Rows -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- No data message -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="displayedColumns.length">No results found.</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons>
  </mat-paginator>
</div>